table, td, th, tr {
    border: 1px solid black;
    border-collapse: separate;
}

td.urgency-soon {
    border-color: orange;
}

td.urgency-sooner {
    border-color: red;
    border-width: 2px;
}

td.urgency-now {
    border-color: red;
    border-width: 2px;
    color: red;
    font-weight: bold;
}
